
.account{
    text-align: center;
}
.pic{
    width: 400px;
}
.account{
    font-size: 20px;
    font-weight: bold;
}
.account p{
    margin-bottom: 30px;
    text-decoration: double;
}
 a {
     background-color: orchid;       
    padding: 20px 25px ;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    
            
}
